In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
df = pd.read_hdf(path)
df.head()

,773869,767541,767542,717447,717446,717445,773062,767620,737529,717816,...,772167,769372,774204,769806,717590,717592,717595,772168,718141,769373
2012-03-01 00:00:00,64.375000,67.625000,67.125000,61.500000,66.875000,68.750000,65.125,67.125,59.625000,62.750000,...,45.625000,65.500,64.500000,66.428571,66.875,59.375000,69.000000,59.250000,69.000000,61.875
2012-03-01 00:05:00,62.666667,68.555556,65.444444,62.444444,64.444444,68.111111,65.000,65.000,57.444444,63.333333,...,50.666667,69.875,66.666667,58.555556,62.000,61.111111,64.444444,55.888889,68.444444,62.875
2012-03-01 00:10:00,64.000000,63.750000,60.000000,59.000000,66.500000,66.250000,64.500,64.250,63.875000,65.375000,...,44.125000,69.000,56.500000,59.250000,68.125,62.500000,65.625000,61.375000,69.857143,62.000
2012-03-01 00:15:00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000,0.000000,0.000000,...,0.000000,0.000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000
2012-03-01 00:20:00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000,0.000000,0.000000,...,0.000000,0.000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000

In [125]:
df.tail()

,773869,767541,767542,717447,717446,717445,773062,767620,737529,717816,...,772167,769372,774204,769806,717590,717592,717595,772168,718141,769373
2012-06-27 23:35:00,65.000000,65.888889,68.555556,61.666667,0.0,54.555556,62.444444,63.333333,59.222222,65.333333,...,52.888889,69.000000,65.111111,55.666667,66.333333,62.444444,66.777778,64.888889,69.666667,62.333333
2012-06-27 23:40:00,61.375000,65.625000,66.500000,62.750000,0.0,50.500000,62.000000,67.000000,65.250000,67.125000,...,54.000000,69.250000,60.125000,60.500000,67.250000,59.375000,66.000000,61.250000,69.000000,62.000000
2012-06-27 23:45:00,67.000000,59.666667,69.555556,61.000000,0.0,44.777778,64.222222,63.777778,59.777778,57.666667,...,51.333333,67.888889,64.333333,57.000000,66.000000,62.666667,68.666667,63.333333,67.444444,61.222222
2012-06-27 23:50:00,66.750000,62.250000,66.000000,59.625000,0.0,53.000000,64.285714,64.125000,60.875000,66.250000,...,51.125000,69.375000,61.625000,60.500000,65.625000,66.375000,69.500000,63.000000,67.875000,63.500000
2012-06-27 23:55:00,65.111111,66.888889,66.777778,61.222222,0.0,49.555556,65.777778,65.111111,63.000000,61.666667,...,56.000000,67.444444,64.888889,60.888889,64.222222,66.444444,68.444444,63.555556,68.666667,61.777778

In [126]:
df = df.head(1000)

In [5]:
x_offsets = np.sort(
        # np.concatenate(([-week_size + 1, -day_size + 1], np.arange(-11, 1, 1)))
        np.concatenate((np.arange(-11, 1, 1),))
    )

array([-11, -10,  -9,  -8,  -7,  -6,  -5,  -4,  -3,  -2,  -1,   0])

In [25]:
# x_offsets
y_offsets = np.array(range(1,13))

In [33]:
def generate_graph_seq2seq_io_data(
        df, x_offsets, y_offsets, add_time_in_day=True, add_day_in_week=False, scaler=None
):
    """
    Generate samples from
    :param df:
    :param x_offsets:
    :param y_offsets:
    :param add_time_in_day:
    :param add_day_in_week:
    :param scaler:
    :return:
    # x: (epoch_size, input_length, num_nodes, input_dim)
    # y: (epoch_size, output_length, num_nodes, output_dim)
    """

    num_samples, num_nodes = df.shape
    data = np.expand_dims(df.values, axis=-1)
    data_list = [data]
#     
    if add_time_in_day:
        time_ind = (df.index.values - df.index.values.astype("datetime64[D]")) / np.timedelta64(1, "D")
        time_in_day = np.tile(time_ind, [1, num_nodes, 1]).transpose((2, 1, 0))
        data_list.append(time_in_day)
        
    if add_day_in_week:
        day_in_week = np.zeros(shape=(num_samples, num_nodes, 7))
        day_in_week[np.arange(num_samples), :, df.index.dayofweek] = 1
        data_list.append(day_in_week)
#     print('shape',np.array(data_list).shape)
    data = np.concatenate(data_list, axis=-1)
    # epoch_len = num_samples + min(x_offsets) - max(y_offsets)
    x, y = [], []
    # t is the index of the last observation.
    min_t = abs(min(x_offsets))
    max_t = abs(num_samples - abs(max(y_offsets)))  # Exclusive
    for t in range(min_t, max_t):
       
        x_t = data[t + x_offsets, ...]
        y_t = data[t + y_offsets, ...]
        x.append(x_t)
        y.append(y_t)
    x = np.stack(x, axis=0)
    y = np.stack(y, axis=0)
    return x, y

In [37]:
time_ind = (df.index.values   - df.index.values.astype("datetime64[D]") )/ np.timedelta64(1, "D")
x,y = generate_graph_seq2seq_io_data(df,x_offsets, y_offsets)
x.shape

(34249, 12, 207, 2)

In [38]:
df.shape

(34272, 207)

In [36]:
x,y = generate_graph_seq2seq_io_data(df,x_offsets,y_offsets)

In [84]:
import pickle
import scipy.sparse as sp

In [85]:
def load_graph_data(pkl_filename):
    sensor_ids, sensor_id_to_ind, adj_mx = load_pickle(pkl_filename)
    return sensor_ids, sensor_id_to_ind, adj_mx


def load_pickle(pickle_file):
    try:
        with open(pickle_file, 'rb') as f:
            pickle_data = pickle.load(f)
    except UnicodeDecodeError as e:
        
        with open(pickle_file, 'rb') as f:
            pickle_data = pickle.load(f, encoding='latin1')
    except Exception as e:
        print('Unable to load data ', pickle_file, ':', e)
        raise
    return pickle_data

![formula](img/formula.png)

In [114]:
def calculate_random_walk_matrix(adj_mx):
#     print(np.sum(adj_mx[0,:]))
    adj_mx = sp.coo_matrix(adj_mx)
    d = np.array(adj_mx.sum(1))
#     print(d[0])
    d_inv = np.power(d, -1).flatten()
    d_inv[np.isinf(d_inv)] = 0.
    d_mat_inv = sp.diags(d_inv)
    random_walk_mx = d_mat_inv.dot(adj_mx).tocoo()
    return random_walk_mx
def _build_sparse_matrix(L):
    L = L.tocoo()
    indices = np.column_stack((L.row, L.col))
    L = tf.SparseTensor(indices, L.data, L.shape)
    return tf.sparse_reorder(L)

In [115]:
sensor_ids, sensor_id_to_ind, adj_mx = load_graph_data('/Users/icdi/Desktop/gpu-test/DCRNN/data/sensor_graph/adj_mx.pkl')
adj_mx.shape

(207, 207)

In [116]:
a = calculate_random_walk_matrix(adj_mx)
a = _build_sparse_matrix(a.T)
print(a)

SparseTensor(indices=Tensor("SparseReorder_6:0", shape=(1722, 2), dtype=int64), values=Tensor("SparseReorder_6:1", shape=(1722,), dtype=float32), dense_shape=Tensor("SparseTensor_13/dense_shape:0", shape=(2,), dtype=int64))

In [118]:
import tensorflow as tf
labels = tf.unstack(tf.reshape(np.random.random((10,12,10,2)), (10, 12, 10 * 2)), axis=1)

In [119]:
labels

[<tf.Tensor 'unstack_1:0' shape=(10, 20) dtype=float64>,
 <tf.Tensor 'unstack_1:1' shape=(10, 20) dtype=float64>,
 <tf.Tensor 'unstack_1:2' shape=(10, 20) dtype=float64>,
 <tf.Tensor 'unstack_1:3' shape=(10, 20) dtype=float64>,
 <tf.Tensor 'unstack_1:4' shape=(10, 20) dtype=float64>,
 <tf.Tensor 'unstack_1:5' shape=(10, 20) dtype=float64>,
 <tf.Tensor 'unstack_1:6' shape=(10, 20) dtype=float64>,
 <tf.Tensor 'unstack_1:7' shape=(10, 20) dtype=float64>,
 <tf.Tensor 'unstack_1:8' shape=(10, 20) dtype=float64>,
 <tf.Tensor 'unstack_1:9' shape=(10, 20) dtype=float64>,
 <tf.Tensor 'unstack_1:10' shape=(10, 20) dtype=float64>,
 <tf.Tensor 'unstack_1:11' shape=(10, 20) dtype=float64>]

In [76]:
GO_SYMBOL = tf.zeros(shape=(10, 12 * 1))

In [77]:
labels.insert(0, GO_SYMBOL)

In [78]:
labels

[<tf.Tensor 'zeros_1:0' shape=(10, 12) dtype=float32>,
 <tf.Tensor 'unstack:0' shape=(10, 10) dtype=float64>,
 <tf.Tensor 'unstack:1' shape=(10, 10) dtype=float64>,
 <tf.Tensor 'unstack:2' shape=(10, 10) dtype=float64>,
 <tf.Tensor 'unstack:3' shape=(10, 10) dtype=float64>,
 <tf.Tensor 'unstack:4' shape=(10, 10) dtype=float64>,
 <tf.Tensor 'unstack:5' shape=(10, 10) dtype=float64>,
 <tf.Tensor 'unstack:6' shape=(10, 10) dtype=float64>,
 <tf.Tensor 'unstack:7' shape=(10, 10) dtype=float64>,
 <tf.Tensor 'unstack:8' shape=(10, 10) dtype=float64>,
 <tf.Tensor 'unstack:9' shape=(10, 10) dtype=float64>,
 <tf.Tensor 'unstack:10' shape=(10, 10) dtype=float64>,
 <tf.Tensor 'unstack:11' shape=(10, 10) dtype=float64>]

In [44]:
### 读取yaml文件的方式
import yaml
yaml_data = yaml.load('/Users/icdi/Desktop/gpu-test/DCRNN/data/model/pretrained/METR-LA/config.yaml')

In [45]:
with open(yaml_data) as f:
    yaml_data = yaml.load(f)

In [48]:
# yaml_data
import tensorflow as tf

### config = tf.ConfigProto(key=value)
- 通过键值对来实现对ConfigProto的控制。
- log_device_placement = True 可以获得哪些操作和tensor被指派到哪个CPU或者GPU上面。
- allow_soft_placement = True 允许自动选择设备进行运行。
- config.gpu_options.allow_growth = True 允许动态申请内存
- config.gpu_options.per_process_gpu_memory_fraction = 0~1 表示GPU的占比。

### logging 有以下4个模块
- Logger对象提供应用程序可直接使用的接口。
- Handler发送日志到适当的目的地。
- Filter过滤日志。
- Formatter格式化日志的格式。

In [57]:
import logging,os,sys

In [58]:
def get_logger(log_dir, name, log_filename='info.log', level=logging.INFO):
    logger = logging.getLogger(name)
    logger.setLevel(level)
    # Add file handler and stdout handler
    formatter = logging.Formatter('%(asctime)s - %(name)s - %(levelname)s - %(message)s')
    file_handler = logging.FileHandler(os.path.join(log_dir, log_filename))
    file_handler.setFormatter(formatter)
    # Add console handler.
    console_formatter = logging.Formatter('%(asctime)s - %(levelname)s - %(message)s')
    console_handler = logging.StreamHandler(sys.stdout)
    console_handler.setFormatter(console_formatter)
    logger.addHandler(file_handler)
    logger.addHandler(console_handler)
    # Add google cloud log handler
    logger.info('Log directory: %s', log_dir)
    return logger

In [63]:
logger = get_logger('.',__name__)
logger.info('hello world')

### writer = tf.summary.FileWriter(log_dir = '')
- 将事件信息写入到文件中，通过以下几个函数：
    - add_summary(), add_session_log(), add_event(), or add_graph()

### 字典传参

In [70]:
dic = dict() 
dic['a'] = 1;dic['b'] = 2
def result(a = 0, b = 1):
    print(a,b)
result(**dic)

1 2

### 查看变量属性
- hasattr

In [71]:
a = np.array([1,2,3])
if hasattr(a,'shape'):
    print('it is a metrix')

it is a metrix

In [128]:
a = np.array([1,2,3,4])
a = np.expand_dims(a,0)
a = np.expand_dims(a,0)
tf.concat([a,a],axis = 0)